.input-group {
    padding-bottom: 15px;
}
.input-field {
    border: 1px solid;
    border-radius: 4px;
    padding: 10px 5px;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    caret-color: white;
    color: white;
}

.input-field:focus-visible {
    outline-color: #2E1B12 !important;
}