.button {
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    min-width: 150px;
    min-height: 40px;
    font-size: 16px;
    color: white;
    background-color: #8B5CF6;
    cursor: pointer;
}
.button:hover {
  background: #7C3AED;
}